extends ../layout.pug

block title
  title All of our Books!
block content
  div
    h3 search for existing books
    form(action="/books", method="get")
      div
        input(type="text", name="search_query", placeholder="Search by Title or Author")
      div
        input(type="submit", value="find")

  div
    table
      thead All books currently available
        tr
          th ID
          th Title
      tbody
        for book in books
          tr
            td= book.id
            td
              a(href="/books/"+book.id)= book.title
              //how do we make these in alphabetical order?