extends ../layout.pug

block title
  title All of our Books!
block content
  h3 Available Books
  div.spaceGiver
    table
      thead
        tr
          th ID
          th Title
      tbody
        for book in books
          tr
            td= book.id
            td
              a(href="/books/"+book.id)= book.title
            td
              for author in book.authors
                span= author.author
            td
              for genre in book.genres
                span= genre.genre

  div
    if page > 1
      a(href="/?page="+(page-1)) Prev
    a(href="/?page="+(page+1)) Next
