extends ../layout.pug

block title
  title All of our Books!
block content
  a(href="/")='The Singing Siren Bookstore'
  p Science Fiction and Fantasy Books


  table
    thead Our Books
      tr
        th ID
        th Title
    tbody
      for book in books
        tr
          td= book.id
          td
            a(href="/books/"+book.id)= book.title
            //how do we make these in alphabetical order?