extends ../layout.pug

block title
  title New Book!
  
block content
  div.spaceGiver
    div
      h3 Add a Book to Our System
      form(action="/books", method="post")
        div.spaceGiverForm
          input(type="title", name="book[title]", placeholder="Book Title")
        div.spaceGiverForm
          input(type="text", name="book[authors][0][author]", placeholder="First Author Name")
        div.spaceGiverForm
          input(type="text", name="book[authors][1][author]", placeholder="Second Author Name")
        div.spaceGiverForm
          select(name="book[genres]" multiple)
            for genre in genres 
              option(value=genre.id)=genre.genre
        div.spaceGiverForm
          input.btn(type="submit", value="Submit a book!" )
