extends ../layout.pug

block title
  title=book.title
block content
  div.bookDesc
    h1=book.title
    ul
      for author in book.authors 
        li=author.author
    ul
      for genre in book.genres
        li=genre.genre