extends ./layout.pug

block title
  title Bookstore
block content

  a(href="/books") Check out our collection


  div
    form(name="login", action="/insert", method="post")
      input(type="title", name="title", placeholder="Book Title")
      input(type="submit", value="Submit a book!" )