h1, h2, h3, h4, h5, h6{
  color: #333;
  font-family: 'Play', sans-serif;
  text-decoration: none;
}

p, li, tbody {
    font-family: 'Abel', sans-serif;
}

.nav {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #e0a618;

}

.nav li {
    float: left;
    font-size: 1.2em;
}

.nav li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

.smSearchtxt {
    font-family: 'Abel', sans-serif;
    font-size:1em;
}

.nav li a:hover {
    background-color: #e6b746;
    color: white;
}

.active {
    background-color: #4CAF50;
}

.spaceGiver{
  padding-left: 2em;
  padding-top:.2em;
  display: flex;
}

.spaceGiver div {
    flex-direction: column;
}

.prevnext{
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #e0a618;
    display: inline-flex;
    flex-direction: row;
    flex-wrap: nowrap;
}

.prevnext div a {
    font-size: 1.2em;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    flex-shrink:.8em;
    justify-content: space-between;
}

.prevnext a:hover {
    background-color: #e6b746;
    color: white;
}

/* on the individual book page */
.bookDesc ul li{
    text-decoration: none;
    display: block;
}

.individualBookWrapper{
    padding-top: 0;
    padding-left:2em;
    display: flex;
}

.spaceGiverForm{
    padding:.5em;
}

.btn{
    background-color: #e0a618;
    color: white;
}
.btn:hover{
    background-color: #e6b746;
    color: white;
}